<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
<style type="text/css">
.font-bold {
	font-weight: bold;
}
.font-general {
	font-family: Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#00C;
}
</style>
</head>

<body class="font-general">
 
 <p>Se ha rechazado el documento &quot;${objectName}&quot; enviado para antefirma, relacionado al oficio ${oficio}.
 <p>Comentario de rechazo: ${comentarioRechazo}</p>
 <p></p>
 <p>Para verificarlo por favor ingrese al Sistema de Control de Gesti&oacute;n.</p>
  
</body>
</html>
