
Se ha rechazado el documento "${objectName}" enviado para antefirma, relacionado al oficio ${oficio}.  

Comentario de rechazo: ${comentarioRechazo}

Para verificarlo por favor ingrese al Sistema de Control de Gestión.

	