<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="debug">

	<Properties>
		<Property name="basePath">${sys:catalina.base}/logs</Property>
		<Property name="LOG_PATTERN">[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %C - %msg%n</Property>
		<Property name="MAX_SIZE">128MB</Property>
		<Property name="MAX_LOGS">3</Property>
		<Property name="MAX_OLD">3d</Property>
	</Properties>

	<!-- + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + -->

	<Appenders>

		<Console name="Console" target="SYSTEM_OUT" follow="true">
			<PatternLayout pattern="${LOG_PATTERN}" />
		</Console>

		<RollingFile name="sigap_cmis_integration"
			fileName="${basePath}/eoficio_cmis.log"
			filePattern="${basePath}/app-%d{yyyy-MM-dd}.log">
			<PatternLayout>
				<pattern>${LOG_PATTERN}</pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy interval="1"
					modulate="true" />
				<SizeBasedTriggeringPolicy
					size="${MAX_SIZE}" />
			</Policies>

			<DefaultRolloverStrategy max="${MAX_LOGS}">
				<Delete basePath="${basePath}" maxDepth="10">

					<IfLastModified age="${MAX_OLD}" />
				</Delete>
			</DefaultRolloverStrategy>
		</RollingFile>

		<RollingFile name="sigap_core_config"
			fileName="${basePath}/eoficio_config.log"
			filePattern="${basePath}/app-%d{yyyy-MM-dd}.log">
			<PatternLayout>
				<pattern>${LOG_PATTERN}</pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy interval="1"
					modulate="true" />
				<SizeBasedTriggeringPolicy
					size="${MAX_SIZE}" />
			</Policies>

			<DefaultRolloverStrategy max="${MAX_LOGS}">
				<Delete basePath="${basePath}" maxDepth="10">

					<IfLastModified age="${MAX_OLD}" />
				</Delete>
			</DefaultRolloverStrategy>
		</RollingFile>

		<RollingFile name="sigap_core_data_audit"
			fileName="${basePath}/eoficio_audit.log"
			filePattern="${basePath}/app-%d{yyyy-MM-dd}.log">
			<PatternLayout>
				<pattern>${LOG_PATTERN}</pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy interval="1"
					modulate="true" />
				<SizeBasedTriggeringPolicy
					size="${MAX_SIZE}" />
			</Policies>

			<DefaultRolloverStrategy max="${MAX_LOGS}">
				<Delete basePath="${basePath}" maxDepth="10">

					<IfLastModified age="${MAX_OLD}" />
				</Delete>
			</DefaultRolloverStrategy>
		</RollingFile>

		<RollingFile name="sigap_core_data_controller"
			fileName="${basePath}/eoficio_dataController.log"
			filePattern="${basePath}/app-%d{yyyy-MM-dd}.log">
			<PatternLayout>
				<pattern>${LOG_PATTERN}</pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy interval="1"
					modulate="true" />
				<SizeBasedTriggeringPolicy
					size="${MAX_SIZE}" />
			</Policies>

			<DefaultRolloverStrategy max="${MAX_LOGS}">
				<Delete basePath="${basePath}" maxDepth="10">

					<IfLastModified age="${MAX_OLD}" />
				</Delete>
			</DefaultRolloverStrategy>
		</RollingFile>

		<RollingFile name="sigap_core_data_dao"
			fileName="${basePath}/eoficio_dao.log"
			filePattern="${basePath}/app-%d{yyyy-MM-dd}.log">
			<PatternLayout>
				<pattern>${LOG_PATTERN}</pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy interval="1"
					modulate="true" />
				<SizeBasedTriggeringPolicy
					size="${MAX_SIZE}" />
			</Policies>

			<DefaultRolloverStrategy max="${MAX_LOGS}">
				<Delete basePath="${basePath}" maxDepth="10">

					<IfLastModified age="${MAX_OLD}" />
				</Delete>
			</DefaultRolloverStrategy>
		</RollingFile>

		<RollingFile name="sigap_core_data_mail"
			fileName="${basePath}/eoficio_mail.log"
			filePattern="${basePath}/app-%d{yyyy-MM-dd}.log">
			<PatternLayout>
				<pattern>${LOG_PATTERN}</pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy interval="1"
					modulate="true" />
				<SizeBasedTriggeringPolicy
					size="${MAX_SIZE}" />
			</Policies>

			<DefaultRolloverStrategy max="${MAX_LOGS}">
				<Delete basePath="${basePath}" maxDepth="10">

					<IfLastModified age="${MAX_OLD}" />
				</Delete>
			</DefaultRolloverStrategy>
		</RollingFile>

		<RollingFile name="sigap_core_data_model"
			fileName="${basePath}/eoficio_model.log"
			filePattern="${basePath}/app-%d{yyyy-MM-dd}.log">
			<PatternLayout>
				<pattern>${LOG_PATTERN}</pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy interval="1"
					modulate="true" />
				<SizeBasedTriggeringPolicy
					size="${MAX_SIZE}" />
			</Policies>

			<DefaultRolloverStrategy max="${MAX_LOGS}">
				<Delete basePath="${basePath}" maxDepth="10">

					<IfLastModified age="${MAX_OLD}" />
				</Delete>
			</DefaultRolloverStrategy>
		</RollingFile>

		<RollingFile name="sigap_core_data_service"
			fileName="${basePath}/eoficio_dataService.log"
			filePattern="${basePath}/app-%d{yyyy-MM-dd}.log">
			<PatternLayout>
				<pattern>${LOG_PATTERN}</pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy interval="1"
					modulate="true" />
				<SizeBasedTriggeringPolicy
					size="${MAX_SIZE}" />
			</Policies>

			<DefaultRolloverStrategy max="${MAX_LOGS}">
				<Delete basePath="${basePath}" maxDepth="10">

					<IfLastModified age="${MAX_OLD}" />
				</Delete>
			</DefaultRolloverStrategy>
		</RollingFile>

		<RollingFile name="sigap_core_data_util"
			fileName="${basePath}/eoficio_dataUtil.log"
			filePattern="${basePath}/app-%d{yyyy-MM-dd}.log">
			<PatternLayout>
				<pattern>${LOG_PATTERN}</pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy interval="1"
					modulate="true" />
				<SizeBasedTriggeringPolicy
					size="${MAX_SIZE}" />
			</Policies>

			<DefaultRolloverStrategy max="${MAX_LOGS}">
				<Delete basePath="${basePath}" maxDepth="10">

					<IfLastModified age="${MAX_OLD}" />
				</Delete>
			</DefaultRolloverStrategy>
		</RollingFile>

		<RollingFile name="sigap_earchivo"
			fileName="${basePath}/eoficio_earchivo.log"
			filePattern="${basePath}/app-%d{yyyy-MM-dd}.log">
			<PatternLayout>
				<pattern>${LOG_PATTERN}</pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy interval="1"
					modulate="true" />
				<SizeBasedTriggeringPolicy
					size="${MAX_SIZE}" />
			</Policies>

			<DefaultRolloverStrategy max="${MAX_LOGS}">
				<Delete basePath="${basePath}" maxDepth="10">

					<IfLastModified age="${MAX_OLD}" />
				</Delete>
			</DefaultRolloverStrategy>
		</RollingFile>

		<RollingFile name="sigap_eciudadano"
			fileName="${basePath}/eoficio_eciudadano.log"
			filePattern="${basePath}/app-%d{yyyy-MM-dd}.log">
			<PatternLayout>
				<pattern>${LOG_PATTERN}</pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy interval="1"
					modulate="true" />
				<SizeBasedTriggeringPolicy
					size="${MAX_SIZE}" />
			</Policies>

			<DefaultRolloverStrategy max="${MAX_LOGS}">
				<Delete basePath="${basePath}" maxDepth="10">

					<IfLastModified age="${MAX_OLD}" />
				</Delete>
			</DefaultRolloverStrategy>
		</RollingFile>

		<RollingFile name="sigap_core_firma"
			fileName="${basePath}/eoficio_firma.log"
			filePattern="${basePath}/app-%d{yyyy-MM-dd}.log">
			<PatternLayout>
				<pattern>${LOG_PATTERN}</pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy interval="1"
					modulate="true" />
				<SizeBasedTriggeringPolicy
					size="${MAX_SIZE}" />
			</Policies>

			<DefaultRolloverStrategy max="${MAX_LOGS}">
				<Delete basePath="${basePath}" maxDepth="10">

					<IfLastModified age="${MAX_OLD}" />
				</Delete>
			</DefaultRolloverStrategy>
		</RollingFile>

		<RollingFile name="sigap_core_interop"
			fileName="${basePath}/eoficio_interoperabilidad.log"
			filePattern="${basePath}/app-%d{yyyy-MM-dd}.log">
			<PatternLayout>
				<pattern>${LOG_PATTERN}</pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy interval="1"
					modulate="true" />
				<SizeBasedTriggeringPolicy
					size="${MAX_SIZE}" />
			</Policies>

			<DefaultRolloverStrategy max="${MAX_LOGS}">
				<Delete basePath="${basePath}" maxDepth="10">

					<IfLastModified age="${MAX_OLD}" />
				</Delete>
			</DefaultRolloverStrategy>
		</RollingFile>

		<RollingFile name="sigap_core_security"
			fileName="${basePath}/eoficio_security.log"
			filePattern="${basePath}/app-%d{yyyy-MM-dd}.log">
			<PatternLayout>
				<pattern>${LOG_PATTERN}</pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy interval="1"
					modulate="true" />
				<SizeBasedTriggeringPolicy
					size="${MAX_SIZE}" />
			</Policies>

			<DefaultRolloverStrategy max="${MAX_LOGS}">
				<Delete basePath="${basePath}" maxDepth="10">

					<IfLastModified age="${MAX_OLD}" />
				</Delete>
			</DefaultRolloverStrategy>
		</RollingFile>

		<RollingFile name="sigap_core_ws"
			fileName="${basePath}/eoficio_ws.log"
			filePattern="${basePath}/app-%d{yyyy-MM-dd}.log">
			<PatternLayout>
				<pattern>${LOG_PATTERN}</pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy interval="1"
					modulate="true" />
				<SizeBasedTriggeringPolicy
					size="${MAX_SIZE}" />
			</Policies>

			<DefaultRolloverStrategy max="${MAX_LOGS}">
				<Delete basePath="${basePath}" maxDepth="10">

					<IfLastModified age="${MAX_OLD}" />
				</Delete>
			</DefaultRolloverStrategy>
		</RollingFile>

		<RollingFile name="sigap_core_util"
			fileName="${basePath}/eoficio_util.log"
			filePattern="${basePath}/app-%d{yyyy-MM-dd}.log">
			<PatternLayout>
				<pattern>${LOG_PATTERN}</pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy interval="1"
					modulate="true" />
				<SizeBasedTriggeringPolicy
					size="${MAX_SIZE}" />
			</Policies>

			<DefaultRolloverStrategy max="${MAX_LOGS}">
				<Delete basePath="${basePath}" maxDepth="10">

					<IfLastModified age="${MAX_OLD}" />
				</Delete>
			</DefaultRolloverStrategy>
		</RollingFile>

		<RollingFile name="sigap_core_hibernate"
			fileName="${basePath}/eoficio_hibernate.log"
			filePattern="${basePath}/app-%d{yyyy-MM-dd}.log">
			<PatternLayout>
				<pattern>${LOG_PATTERN}</pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy interval="1"
					modulate="true" />
				<SizeBasedTriggeringPolicy
					size="${MAX_SIZE}" />
			</Policies>

			<DefaultRolloverStrategy max="${MAX_LOGS}">
				<Delete basePath="${basePath}" maxDepth="10">

					<IfLastModified age="${MAX_OLD}" />
				</Delete>
			</DefaultRolloverStrategy>
		</RollingFile>

		<RollingFile name="sigap_core_spring"
			fileName="${basePath}/eoficio_spring.log"
			filePattern="${basePath}/app-%d{yyyy-MM-dd}.log">
			<PatternLayout>
				<pattern>${LOG_PATTERN}</pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy interval="1"
					modulate="true" />
				<SizeBasedTriggeringPolicy
					size="${MAX_SIZE}" />
			</Policies>

			<DefaultRolloverStrategy max="${MAX_LOGS}">
				<Delete basePath="${basePath}" maxDepth="10">

					<IfLastModified age="${MAX_OLD}" />
				</Delete>
			</DefaultRolloverStrategy>
		</RollingFile>

		<RollingFile name="sigap_core_chemistry"
			fileName="${basePath}/eoficio_chemistry.log"
			filePattern="${basePath}/app-%d{yyyy-MM-dd}.log">
			<PatternLayout>
				<pattern>${LOG_PATTERN}</pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy interval="1"
					modulate="true" />
				<SizeBasedTriggeringPolicy
					size="${MAX_SIZE}" />
			</Policies>

			<DefaultRolloverStrategy max="${MAX_LOGS}">
				<Delete basePath="${basePath}" maxDepth="10">

					<IfLastModified age="${MAX_OLD}" />
				</Delete>
			</DefaultRolloverStrategy>
		</RollingFile>

		<RollingFile name="sigap_core_bechmark"
			fileName="${basePath}/eoficio_benchmark.log"
			filePattern="${basePath}/app-%d{yyyy-MM-dd}.log">
			<PatternLayout>
				<pattern>${LOG_PATTERN}</pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy interval="1"
					modulate="true" />
				<SizeBasedTriggeringPolicy
					size="${MAX_SIZE}" />
			</Policies>

			<DefaultRolloverStrategy max="${MAX_LOGS}">
				<Delete basePath="${basePath}" maxDepth="10">

					<IfLastModified age="${MAX_OLD}" />
				</Delete>
			</DefaultRolloverStrategy>
		</RollingFile>

		<RollingFile name="sigap_core_query_sin_where"
			fileName="${basePath}/eoficio_query_sin_where.log"
			filePattern="${basePath}/app-%d{yyyy-MM-dd}.log">
			<PatternLayout>
				<pattern>${LOG_PATTERN}</pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy interval="1"
					modulate="true" />
				<SizeBasedTriggeringPolicy
					size="${MAX_SIZE}" />
			</Policies>

			<DefaultRolloverStrategy max="${MAX_LOGS}">
				<Delete basePath="${basePath}" maxDepth="10">

					<IfLastModified age="${MAX_OLD}" />
				</Delete>
			</DefaultRolloverStrategy>
		</RollingFile>

	</Appenders>

	<!-- + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + -->

	<Loggers>

		<Logger name="com.ecm.sigap.cmis" level="debug"
			additivity="true">
			<AppenderRef ref="sigap_cmis_integration" />
			<AppenderRef ref="Console" />
		</Logger>

		<Logger name="com.ecm.sigap.config" level="debug"
			additivity="true">
			<AppenderRef ref="sigap_core_config" />
			<AppenderRef ref="Console" />
		</Logger>

		<Logger name="com.ecm.sigap.data.audit" level="debug"
			additivity="true">
			<AppenderRef ref="sigap_core_data_audit" />
			<AppenderRef ref="Console" />
		</Logger>

		<Logger name="com.ecm.sigap.data.controller" level="debug"
			additivity="true">
			<AppenderRef ref="sigap_core_data_controller" />
			<AppenderRef ref="Console" />
		</Logger>

		<Logger name="com.ecm.sigap.data.dao" level="debug"
			additivity="true">
			<AppenderRef ref="sigap_core_data_dao" />
			<AppenderRef ref="Console" />
		</Logger>

		<Logger name="com.ecm.sigap.data.mail" level="debug"
			additivity="true">
			<AppenderRef ref="sigap_core_data_mail" />
			<AppenderRef ref="Console" />
		</Logger>

		<Logger name="com.ecm.sigap.data.model" level="debug"
			additivity="true">
			<AppenderRef ref="sigap_core_data_model" />
			<AppenderRef ref="Console" />
		</Logger>

		<Logger name="com.ecm.sigap.data.service" level="debug"
			additivity="true">
			<AppenderRef ref="sigap_core_data_service" />
			<AppenderRef ref="Console" />
		</Logger>

		<Logger name="com.ecm.sigap.data.util" level="debug"
			additivity="true">
			<AppenderRef ref="sigap_core_data_util" />
			<AppenderRef ref="Console" />
		</Logger>

		<Logger name="com.ecm.sigap.eArchivo" level="debug"
			additivity="true">
			<AppenderRef ref="sigap_earchivo" />
			<AppenderRef ref="Console" />
		</Logger>

		<Logger name="com.ecm.sigap.eCiudadano" level="debug"
			additivity="true">
			<AppenderRef ref="sigap_eciudadano" />
			<AppenderRef ref="Console" />
		</Logger>

		<Logger name="com.ecm.sigap.firma" level="debug"
			additivity="true">
			<AppenderRef ref="sigap_core_firma" />
			<AppenderRef ref="Console" />
		</Logger>

		<Logger name="com.ecm.sigap.interoperabilidad" level="debug"
			additivity="true">
			<AppenderRef ref="sigap_core_interop" />
			<AppenderRef ref="Console" />
		</Logger>

		<Logger name="com.ecm.sigap.security" level="debug"
			additivity="true">
			<AppenderRef ref="sigap_core_security" />
			<AppenderRef ref="Console" />
		</Logger>

		<Logger name="com.ecm.sigap.util" level="debug"
			additivity="true">
			<AppenderRef ref="sigap_core_util" />
			<AppenderRef ref="Console" />
		</Logger>

		<Logger name="com.ecm.sigap.ws" level="debug" additivity="true">
			<AppenderRef ref="sigap_core_ws" />
			<AppenderRef ref="Console" />
		</Logger>

		<Logger name="org.hibernate" level="debug" additivity="true">
			<AppenderRef ref="sigap_core_hibernate" />
			<AppenderRef ref="Console" />
		</Logger>

		<Logger name="org.springframework" level="debug"
			additivity="true">
			<AppenderRef ref="sigap_core_spring" />
			<AppenderRef ref="Console" />
		</Logger>

		<Logger name="org.apache.chemistry" level="debug"
			additivity="true">
			<AppenderRef ref="sigap_core_chemistry" />
			<AppenderRef ref="Console" />
		</Logger>

		<Logger name="com.ecm.sigap.data.util" level="debug"
			additivity="true">
			<AppenderRef ref="sigap_core_query_sin_where" />
			<AppenderRef ref="Console" />
		</Logger>

		<Logger name="org.openjdk.jmh" level="debug" additivity="true">
			<AppenderRef ref="sigap_core_bechmark" />
			<AppenderRef ref="Console" />
		</Logger>

		<Root level="debug" additivity="false">
			<AppenderRef ref="Console" />
		</Root>

	</Loggers>

	<!-- + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + -->

</Configuration>