<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
<style type="text/css">
.font-bold {
	font-weight: bold;
}
.font-general {
	font-family: Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#00C;
}
</style>
</head>

<body class="font-general">
 
 <p>Estimado(a): <span class="font-bold">${revisor}</span></p>
 <p>Env&iacute;o para revisi&oacute;n, el borrador de oficio con identificador No. ${idMinutario} de ${firmante}</p>  
 	
 <p>Atentamente:</p>
 <p>${area}</p>
 <p><a href="${url}">${url}</a></p>
</body>
</html>