Estimado ${destinatario}

Envío para '${instruccion}'(${requiere}), el documento No. Copia de Oficio ${oficio} de ${firmante}.

	ID Origen: ${idorigen}
	Asunto: ${asunto}
	Observaciones: ${comentario}

Atentamente:
	${area}
	${institucion}
	${url}
	