Estimado ${destinatario}

Recibió una respuesta del asunto No. Copia de Oficio ${oficio} de ${firmante}.
 ID Origen: ${idorigen}
 Asunto: ${asunto}
 
Atentamente:
    ${area}
    ${institucion}
    ${url}